<div class="poker-table-container">
  <div class="table-space">
    <div class="poker-table">
      <div class="table-felt"></div>
      <div class="outer-border"></div>
      <div class="middle-border"></div>
      <div class="inner-border"></div>
    </div>
  </div>

  <div *ngIf="showSelectRoleElements" class="grid-container">
    <div class="text-column">
      Elige una carta
    </div>
    <div class="card-column">

      <div class="card">
        <div class="card__image">
          <div class="card__text">0</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">1</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">3</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">5</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">8</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">13</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">21</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">34</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">55</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">89</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">?</div>
        </div>
        <div class="card__text"></div>
      </div>

      <div class="card">
        <div class="card__image">
          <div class="card__text">cafe</div>
        </div>
        <div class="card__text"></div>
      </div>

    </div>
  </div>

</div>