<div *ngIf="currentShowModalInvitarJugadores" class="modal" [ngClass]="{'show': currentShowModalInvitarJugadores}">
  <div class="modal-content">
    <div class="modal-header">
      <div>Invitar jugadores</div>
      <div>
        <button class="close" (click)="closeModal()"> <span>&times;</span> </button>
      </div>      
    </div>
    <div class="modal-body">
      <div class="formm">
        <input type="text" #linkInput [value]="'https://tu-link-a-copiar.com'" readonly>
        <button 
          class="copiarButton"
          (click)="copiarLink()"
        >
        Copiar link
        </button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar">
      <div [ngClass]="{'show': currentShowLogoAndCrearPartida}" class="grid-container logo">
        <div>
            <img height="50" src="assets/images/otrologo.png" alt="Cargando...">
        </div>
        <span *ngIf="currentShowCrearPartida" class="text1">Crear Partida</span>
      </div>

      <div class="grid-container text2">
        <div *ngIf="currentShowSpectatorElements">
          {{ currentGameName }}
        </div>
      </div>

      <div class="grid-container invitePlayer">
        <div 
          onkeypress
          (click)="changeVisualizationMode()" 
          *ngIf="currentShowSpectatorElements || currentShowPlayerElements" class="circular-element">
          {{ currentUserNameInitials }}
        </div>
        <button 
          class="buttonInvitarJugadores"
          *ngIf="!currentShowCrearPartida" 
          (click)="openModal()"
        >
        Invitar Jugadores
        </button>
      </div>

</nav>