<nav class="navbar">
      <div class="grid-container logo">
        <div>
            <img height="50" src="assets/images/otrologo.png" alt="Cargando...">
        </div>
        <span *ngIf="currentShowCrearPartida" class="text1">Crear Partida</span>
      </div>

      <div class="grid-container text2">
        <div *ngIf="currentShowEspectatorElements">
          {{ currentGameName }}
        </div>
      </div>

      <div class="grid-container invitePlayer">
        <div *ngIf="currentShowEspectatorElements" class="circular-element">
          {{ currentUserNameInitials }}
        </div>
        <button *ngIf="!currentShowCrearPartida" >Invitar Jugadores</button>
      </div>
</nav>