.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-template-columns: 1fr;
    gap: 5px;
  }

input {
    padding: 5px 15px;
    height: 3rem;
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 100px;
    border: 1px solid #ba64fd;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
  
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #370578 inset;
      -webkit-text-fill-color: white;
      font-family: inherit !important;
      font-size: inherit !important;
    }
  }

  button {
    padding: 8px 20px 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    font-family: 'MyCustomFont', sans-serif;
    color: #330072;
    font-weight: bold;
  }