<div *ngIf="currentShowToastedMessage" class="toast">
  <span>{{ currentUserName }} acaba de elegir una carta</span>
</div>

<div *ngIf="showCardMode" class="cardMode">
  <div class="firstRow">Modos de Carta</div>

  <div class="secondRow">
    <div 
      *ngFor="let cardMode of selectedCardMode | keyvalue"
      onkeypress
      (click)="generateNumbers(cardMode.key)"
      [ngClass]="{'changeCardBackground': cardMode.value}"
      class="cardModeOption"
    >
      <img height="20" src="assets/images/{{cardMode.key}}.png" alt="{{cardMode.key}}">
    </div>
  </div>

  <div class="thirdRow">
    <div 
      *ngFor="let number of numbers"
      class="cardModeNumbers"
    >
      {{ number }}
    </div>
  </div>
</div>

<div class="poker-table-container">
  
    <div class="table-space">

      <div class="grid-container">

        <div class="card-column">
            <div
              onkeypress
              (click)="makeAdmin('Carlos')" 
              [ngClass]="{'hidden': currentDontShowPlayerElements}" 
              class="card-left">
              <div class="center-c-elements">
                <div 
                  class="card__image"
                  [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                  <div *ngIf="currentShowSelectedNumbers" class="card__text">
                    {{ selectedNumbers[1] }}
                  </div>
                </div>
                <div
                  [ngClass]="{'makeAdmin': userPermission['Carlos']}" 
                  class="card__text">
                  Carlos
                </div>
              </div>
            </div>
      
            <div
              [ngClass]="{'hidden': currentDontShowPlayerElements}" 
              class="card">
              <div class="circular-element">
                DA
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['David']}" 
                class="card__text">
                David
              </div>
            </div>
      
            <div
              onkeypress
              (click)="makeAdmin('Nata')" 
              [ngClass]="{'hidden': currentDontShowPlayerElements}" 
              class="card-right">
              <div class="center-c-elements">
                <div 
                  class="card__image"
                  [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                  <div *ngIf="currentShowSelectedNumbers" class="card__text">
                    {{ selectedNumbers[2] }}
                  </div>
                </div>
                <div 
                  [ngClass]="{'makeAdmin': userPermission['Nata']}" 
                  class="card__text">
                  Nata
                </div>
              </div>          
            </div>
      
        </div>
    
        <div class="card-column">
          <div 
            onkeypress
            (click)="makeAdmin('Vale')"
            [ngClass]="{'hidden': currentDontShowPlayerElements}" 
            class="card">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[3] }}
                </div>
              </div>
              <div
                [ngClass]="{'makeAdmin': userPermission['Vale']}"  
                class="card__text">
                Vale
              </div>
            </div>          
          </div>
    
          <div class="card">
            <div class="poker-table">
              <div class="outer-border"></div>
              <div class="middle-border"></div>
              <div class="inner-border"></div>
  
              <div class="center-button">

                <button                   
                  (click)="showCardsAndAverage()"
                  *ngIf="currentShowButton" 
                  class="show-cards-button">
                    Revelar cartas
                </button>
  
                <div *ngIf="currentGenerateNumbers">
                  <div class="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                  <div class="count_text">
                    Contando votos
                  </div>
                </div>
  
                <button 
                  (click)="nuevaVotacion()"
                  *ngIf="currentShowSelectedNumbers" 
                  class="show-cards-button">
                    Nueva votación
                </button>
              </div>
  
            </div>
          </div>      
    
          <div 
            onkeypress
            (click)="makeAdmin('Pedro')"
            [ngClass]="{'hidden': currentDontShowPlayerElements}" 
            class="card">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[4] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Pedro']}" 
                class="card__text">
                Pedro
              </div>
            </div>          
          </div>
        </div>
        
        <div class="card-column">
            <div
              onkeypress
              (click)="makeAdmin('Oscar')" 
              [ngClass]="{'hidden': currentDontShowPlayerElements}" 
              class="card-left">
              <div class="center-c-elements">
                <div 
                  class="card__image"
                  [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                  <div *ngIf="currentShowSelectedNumbers" class="card__text">
                    {{ selectedNumbers[5] }}
                  </div>
                </div>
                <div 
                  [ngClass]="{'makeAdmin': userPermission['Oscar']}" 
                  class="card__text">
                  Oscar
                </div>
              </div>
            </div>
      
            <div
              onkeypress
              (click)="makeAdmin(currentUserName)" 
              class="card">
              <div class="center-c-elements">
                <div 
                  class="card__image"
                  [ngClass]="{'changeCardBackground': currentShowUserCard}"
                >
                  <div *ngIf="currentShowSelectedNumbers" class="card__text">
                    {{ selectedNumbers[0] }}
                  </div>
                </div>
                <div                   
                  [ngClass]="{'makeAdmin': userPermission[currentUserName]}" 
                  class="card__text">
                    {{ currentUserName }}
                </div>
              </div>
            </div>
      
            <div
              onkeypress
              (click)="makeAdmin('Albert')" 
              [ngClass]="{'hidden': currentDontShowPlayerElements}" 
              class="card-right">
              <div class="center-c-elements">
                <div 
                  class="card__image"
                  [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                  <div *ngIf="currentShowSelectedNumbers" class="card__text">
                    {{ selectedNumbers[6] }}
                  </div>
                </div>
                <div 
                  [ngClass]="{'makeAdmin': userPermission['Albert']}" 
                  class="card__text">
                  Albert
                </div>
              </div>          
            </div>
        </div>
  
      </div>

    </div>

    <div *ngIf="currentShowSelectedNumbers" class="voting-container">
      <div 
        class="voting-card-column" 
        [style.gridTemplateColumns]="'repeat(' + uniqueNumbersLength + ', 0.4fr)'">

        <div 
          class="voting-card" 
          *ngFor="let number of uniqueNumbers | keyvalue; let i = index">
          <div>

            <div class="voting-card__image">
              <div class="voting-card__text">
                {{ number.key }}
              </div>
            </div>
            <div class="voting-card__text">
              {{ number.value }} Voto
            </div>

          </div>
          
        </div>

        <div class="voting-average">
          <div class="voting-card__text">
            Promedio:
          </div>
          <div class="voting-card__average">
            {{ average | number:'1.0-1' }}
          </div>
        </div>
        
      </div>
    </div>

    <div *ngIf="currentShowPlayerElements" class="player-grid-container">
        <div class="player-text-column">
          Elige una carta
          <img height="17" class="rotarImg" src="assets/images/handPointing.png" alt="Cargando...">          
        </div>
        
        <div class="player-card-column">

          <div 
            *ngFor="let cardNumber of numbers"
            class="player-card"
            [ngStyle]="{'transform': selectedCard[cardNumber] ? 'translateY(-5px)' : ''}"
          >
            <div
              onkeypress 
              class="player-card__image" 
              (click)="selectCard(cardNumber)"
              [ngClass]="{'changeCardSelected': selectedCard[cardNumber]}"
            >
              <div               
                [ngClass]="{'changeCardSelectedColor': selectedCard[cardNumber]}"
                class="player-card__text">
                  {{ cardNumber }}
              </div>
            </div>
            <div class="player-card__text"></div>
          </div>
    
          <div class="player-card" [ngStyle]="{'transform': selectedCardQuestion ? 'translateY(-5px)' : ''}">
            <div 
              onkeypress
              (click)="selectCard(-10)" 
              class="player-card__image"
              [ngClass]="{'changeCardSelected': selectedCardQuestion}"
            >
              <div 
                [ngClass]="{'changeCardSelectedColor': selectedCardQuestion}" 
                class="player-card__text">
                  ?
              </div>
            </div>
            <div class="player-card__text"></div>
          </div>
    
          <div class="player-card">
            <div class="player-card__image">
              <div class="player-card__text">
                <div>
                  <img height="17" src="assets/images/cafe.png" alt="Cargando...">
                </div>                
              </div>
            </div>
            <div class="player-card__text"></div>
          </div>
    
        </div>

    </div>

</div>