<div *ngIf="showCardMode" class="cardMode">
  <div class="firstRow">Modos de Carta</div>

  <div class="secondRow">
    <div 
      *ngFor="let cardMode of selectedCardMode | keyvalue"
      onkeypress
      (click)="changeCardMode(cardMode.key)"
      [ngClass]="{'changeCardBackground': cardMode.value}"
      class="cardModeOption"
    >
      <img height="30" src="assets/images/{{cardMode.key}}.png" alt="{{cardMode.key}}">
    </div>
  </div>

  <div class="thirdRow">
    <div 
      *ngFor="let number of numbers"
      class="cardModeNumbers"
    >
      {{ number }}
    </div>
  </div>
</div>

<div class="poker-table-container">
  
    <div class="table-space">

      <div class="grid-container">

        <div [ngClass]="{'hidden': currentDontShowSpectatorElements}" class="card-column">
          <div 
            onkeypress
            (click)="makeAdmin('Carlos')"
            class="card-left">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[0] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Carlos']}"
                class="card__text">
                Carlos
              </div>
            </div>
          </div>
    
          <div
            onkeypress
            (click)="makeAdmin('David')" 
            class="card">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[1] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['David']}"
                class="card__text">
                David
              </div>
            </div>
          </div>    
    
          <div 
            onkeypress
            (click)="makeAdmin('Nata')"
            class="card-right">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[2] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Nata']}"
                class="card__text">
                Nata
              </div>
            </div>          
          </div>
        </div>
    
        <div class="card-column">
          <div 
            onkeypress
            (click)="makeAdmin('Vale')"
            [ngClass]="{'hidden': currentDontShowSpectatorElements}" class="card">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[3] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Vale']}"
                class="card__text">
                Vale
              </div>
            </div>          
          </div>
    
          <div class="card">
            <div class="poker-table">
              <div class="outer-border"></div>
              <div class="middle-border"></div>
              <div class="inner-border"></div>
  
              <div class="center-button">
                <button 
                  (click)="generateNumbers()"
                  *ngIf="currentShowButton" 
                  class="show-cards-button">
                    Revelar cartas
                </button>
  
                <div *ngIf="currentGenerateNumbers">
                  <div class="loader">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                  <div class="count_text">
                    Contando votos
                  </div>
                </div>
  
                <button 
                  (click)="nuevaVotacion()"
                  *ngIf="currentShowSelectedNumbers" 
                  class="show-cards-button">
                    Nueva votación
                </button>
              </div>
  
            </div>
          </div>      
    
          <div 
            onkeypress
            (click)="makeAdmin('Pedro')"
            [ngClass]="{'hidden': currentDontShowSpectatorElements}" 
            class="card">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[4] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Pedro']}"
                class="card__text">
                Pedro
              </div>
            </div>          
          </div>
        </div>
        
        <div class="card-column">
          <div
            onkeypress
            (click)="makeAdmin('Oscar')" 
            [ngClass]="{'hidden': currentDontShowSpectatorElements}" 
            class="card-left">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[5] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Oscar']}"
                class="card__text">
                Oscar
              </div>
            </div>          
          </div>
    
          <div
            *ngIf="currentShowSpectatorElements" 
            class="card">
            <div class="circular-element">
              {{ currentUserNameInitials }}
            </div>
            <div 
              [ngClass]="{'makeAdmin': true}"
              class="card__text">
              {{ currentUserName }}
            </div>
          </div>
    
          <div 
            onkeypress
            (click)="makeAdmin('Albert')"
            [ngClass]="{'hidden': currentDontShowSpectatorElements}" 
            class="card-right">
            <div class="center-c-elements">
              <div 
                class="card__image"
                [ngClass]="{'changeCardBackground': currentChangeCardBackground}">
                <div *ngIf="currentShowSelectedNumbers" class="card__text">
                  {{ selectedNumbers[6] }}
                </div>
              </div>
              <div 
                [ngClass]="{'makeAdmin': userPermission['Albert']}"
                class="card__text">
                Albert
              </div>
            </div>          
          </div>
    
        </div>
  
      </div>

    </div>

    <div class="voting-container">
      <div 
        class="voting-card-column" 
        [style.gridTemplateColumns]="'repeat(' + uniqueNumbersLength + ', 0.4fr)'">

        <div 
          class="voting-card" 
          *ngFor="let number of uniqueNumbers | keyvalue; let i = index">
          <div *ngIf="currentShowSelectedNumbers">

            <div class="voting-card__image">
              <div class="voting-card__text">
                {{ number.key }}
              </div>
            </div>
            <div class="voting-card__text">
              {{ number.value }} Voto
            </div>

          </div>
          
        </div>

        <div 
          *ngIf="currentShowSelectedNumbers"
          class="voting-average">
          <div class="voting-card__text">
            Promedio:
          </div>
          <div class="voting-card__average">
            {{ average | number:'1.0-1' }}
          </div>
        </div>
        
      </div>
  
    </div>

</div>