html, body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(
      #330072,
      rgb(140, 140, 140)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
}